body {
    background-color: hsl(0, 0%, 8%);
}

.card {
    background-color: hsl(0, 0%, 12%);
    border-radius: 10px;
}
.card img {
    height: 120px;
    border-radius: 50%;
    height: 30vh;

}
.card a, h1, p {
    color: hsl(0, 0%, 100%);
}
h1, p {
    font-weight: 400;
}
h1, h2 {
    line-height: .5;
}
h2 {
    color: hsl(75, 94%, 57%);
    font-size: 14px;
}
h3 {
    background-color: hsl(0, 0%, 20%);
    font-size: 14px;
    padding: 15px;
    border-radius: 10px;
}
h3:active {
    color: hsl(0, 0%, 20%);
    background-color: hsl(75, 94%, 57%);
}
p {
    margin: 30px
}
