

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: last baseline;
    height: 100vh;
}

.card {
    display: block;
    flex-direction: column;
    margin: auto;
    padding: 10px;
    width: 280px;
    text-align: center;
    font-family: 'Inter';
}
.card img {
    display: block;
    margin: 10px auto;
}
.card p {
    font-size: 14px;
}
.card a {
    text-decoration: none;
}

/* FOOTER */
.attribution {
    position: relative;
    bottom: 0;
    width: 100%;
    margin-bottom: 0px;
    padding-bottom: 0;
}
